<div class="main">
  <div class="form">
    <div class="title">
      User Edit
    </div>
    <%= form_with model: @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :authority_id, "Authority" %>
      <%= f.select :authority_id, Authority.all.collect %>
      <%= f.submit "Update", disable_with: 'Updateing...' %>
    <% end %>
  </div>
  <% if @error_message %>
    <div class="form_error">
      <%= @error_message %>
    </div>
  <% end %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form_error">
      <%= @message %>
    </div>
  <% end %>
</div>