<div class="main">
  <div class="form">
    <div class="title">
      Create New Training Menu
    </div>
    <%= form_with model: @trainingmenu, local: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :training_id, "Trainings" %>
      <%= f.fields_for :trainingmenudetails do |trainingmenudetail| %>
        <%= trainingmenudetail.collection_select :training_id, Training.where(user_id: @current_user.id).or(Training.where(user_id: nil)), :id, :name, include_blank: "選択して下さい" %>
        <%= trainingmenudetail.hidden_field :order, value: 1 %>
      <% end %>
      <%= f.submit "Create", disable_with: 'Createing...' %>
    <% end %>
  </div>
  <% if @error_message %>
    <div class="form_error">
      <%= @error_message %>
    </div>
  <% end %>
  <% @trainingmenu.errors.full_messages.each do |message| %>
    <div class="form_error">
      <%= @message %>
    </div>
  <% end %>
</div>