<div class="main">
  <div class="form">
    <div class="title">
      Training Menu Details
    </div>
    <%= form_with model: @trainingmenu do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, disabled: true %>
      <%= f.label :training_id, "Trainings" %>
      <%= f.fields_for :trainingmenudetails do |trainingmenudetail| %>
        <%= trainingmenudetail.collection_select :training_id, Training.where(user_id: @current_user.id).or(Training.where(user_id: nil)), :id, :name, {}, disabled: true %>
        <%= trainingmenudetail.number_field :order, in: 1..@trainingmenu.trainingmenudetails.count, step: 1, disabled: true %>
      <% end %>
    <% end %>
  </div>
</div>